name: "CI - Test Templates"
on:
  pull_request:

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      templates: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            azure-functions-dotnet: ./**/azure-functions-dotnet/**
            azure-functions-java: ./**/azure-functions-java/**
            azure-functions-node: ./**/azure-functions-node/**
            azure-functions-powershell: ./**/azure-functions-powershell/**
            azure-functions-python: ./**/azure-functions-python/**

  test:
    needs: [detect-changes]
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        templates: ${{ fromJSON(needs.detect-changes.outputs.templates) }}
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Smoke test for '${{ matrix.templates }}'
        id: smoke_test
        uses: ./.github/actions/smoke-test
        with:
          template: "${{ matrix.templates }}"
